*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#f5f7fb;
  color:#333;
}

nav{
  background:#0b3d91;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px 20px;
  background:white;
}

.hero h1{
  font-size:48px;
  color:#0b3d91;
}

.hero h2{
  margin-top:10px;
}

.hero p{
  margin-top:15px;
  color:#666;
}

section{
  width:85%;
  margin:60px auto;
}

section h2{
  color:#0b3d91;
  margin-bottom:20px;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #0b3d91;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn:hover {
  background: #072d6d;
}
footer{
    background:#0b3d91;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
#skills ul{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    list-style:none;
    padding:0;
}

#skills li{
    background:#ffffff;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    font-weight:600;
}
#projects ul,
#certifications ul{
    list-style:none;
    padding:0;
}

#projects li,
#certifications li{
    background:#ffffff;
    margin-bottom:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}
#about,
#education,
#contact{
    background:#ffffff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

h2{
    border-left:5px solid #0b3d91;
    padding-left:10px;
    margin-bottom:20px;
}

a{
    color:#0b3d91;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
